<aside class="admin__sidebar sidebar">
    <ul class="sidebar__ul">
        <li class="sidebar__item">
            <a class="sidebar__link <%= path === 'dashboard' ? 'active' : ''%>" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="sidebar__item">
            <a class="sidebar__link <%= path === 'boards' ? 'active' : ''%>" href="/admin/boards">E'lonlar</a>
        </li>
        <li class="sidebar__item active">
            <a class="sidebar__link <%= path === 'messages' ? 'active' : ''%>" href="/admin/messages">Xabarlar</a>
        </li>
    </ul>
</aside>