@import "variables";

.auth {
   padding-top: 64px;
}

.auth__inner {
   width: 282px;
}

.label {
   position: relative;
   display: block;
   margin-bottom: 20px;

   &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 1px;
      display: flex;
      align-items: center;
      width: 54px;
      height: 44px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
   }

   &.valid::after {
      background-image: url('/img/icons/valid-icon.svg');
   }

   &.invalid::after {
      background-image: url('/img/icons/invalid-icon.svg');
   }

   &.invalid .input {
      border-color: $INVALID_COLOR;
   }
}

.text {
   display: block;
   margin-bottom: 10px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: $LABEL_TEXT_COLOR;
}

.input {
   display: block;
   width: 100%;
   height: 46px;
   padding: 0 54px 0 15px;
   background-color: $WHITE_COLOR;
   border: 1px solid $INPUT_BORDER_COLOR;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $INPUT_TEXT_COLOR;

   &:focus {
      outline: none;
   }
}

.textarea {
   display: block;
   width: 100%;
   height: 150px;
   padding: 15px;
   background-color: $WHITE_COLOR;
   border: 1px solid $INPUT_BORDER_COLOR;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $INPUT_TEXT_COLOR;
   resize: none;

   &:focus {
      outline: none;
   }
}

.error {
   display: block;
   margin-top: 10px;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $INVALID_COLOR;
}

.role {
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
   border-bottom: 1px solid $INPUT_BORDER_COLOR;

   label {
      width: 129px;
   }
}

.radio {
   display: none;

   &:checked ~ .button-outline {
      background-color: $MAIN_BLUE_COLOR;
      color: $WHITE_COLOR;
   }
}

.submit .button {
   width: 100%;
}

.auth__another {
   margin-bottom: 40px;
   padding-top: 15px;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   color: $BLACK_COLOR;

   a {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-decoration-line: underline;
      color: $MAIN_BLUE_COLOR;
   }
}

.auth__api {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 10px;
   height: 44px;
   background-color: $WHITE_COLOR;
   border: none;
   cursor: pointer;
   margin-bottom: 20px;
   transition: 0.2s all linear;

   &:hover {
      box-shadow: 0 6px 24px rgba(32, 68, 160, 0.1);
   }

   img {
      margin-right: 10px;
   }

   span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $LABEL_TEXT_COLOR;
   }
}

.auth-signin {
   padding-top: 120px;

   .auth__submit {
      padding-top: 0;
   }
}

.form-wrapper {
   width: 588px;

   .button {
      display: block;
      width: 129px;
      margin-left: auto;
   }
}

.form-wrapper__heading {
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: $SECTION_HEADING_COLOR;
}

.form__field {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   .label {
      width: 282px;
   }
}