@font-face {
   font-family: 'SFPro';
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: url('../fonts/sf_pro_display_300.woff2') format('woff2'),
   url('../fonts/sf_pro_display_300.woff') format('woff')
}

@font-face {
   font-family: 'SFPro';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../fonts/sf_pro_display_400.woff2') format('woff2'),
   url('../fonts/sf_pro_display_400.woff') format('woff')
}

@font-face {
   font-family: 'SFPro';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url('../fonts/sf_pro_display_500.woff2') format('woff2'),
   url('../fonts/sf_pro_display_500.woff') format('woff')
}

@font-face {
   font-family: 'SFPro';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('../fonts/sf_pro_display_600.woff2') format('woff2'),
   url('../fonts/sf_pro_display_600.woff') format('woff')
}

@font-face {
   font-family: 'SFPro';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url('../fonts/sf_pro_display_700.woff2') format('woff2'),
   url('../fonts/sf_pro_display_700.woff') format('woff')
}

@font-face {
   font-family: 'Nebula';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../fonts/nebula_400.woff2') format('woff2'),
   url('../fonts/nebula_400.woff') format('woff')
}