@import "variables";

.footer__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 40px;
   padding-bottom: 60px;
   border-top: 1px solid rgba(32, 68, 160, 0.15);
}

.footer__social {
   display: flex;
   align-items: center;
}

.footer__link {
   &:not(:last-child) {
      margin-right: 30px;
   }

   &:hover svg path {
      fill: $MAIN_BLUE_COLOR
   }
}