.header-boards {
   background-image: url('/img/bg-images/bg-boards@laptop.jpg');
}

.header-freelancers {
   background-image: url('/img/bg-images/bg-freelancers@laptop.jpg');
}

.header-completed {
   background-image: url('/img/bg-images/bg-finished-projects@laptop.jpg');
}

.header-contact, .header-info, .header-profile {
   background-image: url('/img/bg-images/bg-about@laptop.jpg');
}