@import "variables";

.main--project-info {
   padding-top: 30px;
}

.project-info {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 40px;
   padding-bottom: 40px;
}

.project-info__description, .project-info__value {
   margin-bottom: 20px;
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   color: $LABEL_TEXT_COLOR;
}

.project-info__additional {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
}

.project-info__heading {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: $SECTION_HEADING_COLOR
}

.board-details__heading {
   padding-top: 55px;
   color: white;
}