@import "mixins";
@import "variables";

@include media-min(1670px) {
   .nav__ul--mixed .nav__li:nth-child(4) .nav__link {
      color: $MAIN_BLUE_COLOR;

      &::after {
         background-color: $MAIN_BLUE_COLOR;
      }
   }
}

@include media-min(1670px) {
   .nav__ul--mixed .nav__li:nth-child(4) .nav__link {
      color: $MAIN_BLUE_COLOR;

      &::after {
         background-color: $MAIN_BLUE_COLOR;
      }
   }
}

@include media-min(1450px) {
   .nav__ul--mixed .nav__li:nth-child(3) .nav__link {
      color: $MAIN_BLUE_COLOR;

      &::after {
         background-color: $MAIN_BLUE_COLOR;
      }
   }
}

@include media-max(1130px) {
   .intro {
      height: auto;

      .logo svg path {
         fill: $WHITE_COLOR;
      }
   }

   .intro__bg {
      left: 0;
      height: 166px;
      background-image: url('/img/bg-images/bg-intro@mobile.jpg');
      background-position: center;
      background-size: cover;
   }

   .intro__inner {
      width: 100%;
      padding-top: 55px;
   }

   .intro__title {
      font-size: 34px;
      line-height: 50px;

      span {
         display: block;
      }

      span:first-child {
         color: $WHITE_COLOR;
      }
   }

   .intro__text {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 17px;
   }

   .intro__links {
      display: none;
   }

   .user, .signin {
      display: none;
   }

   .nav {
      padding-top: 24px;
   }

   .nav__ul {
      position: fixed;
      top: 0;
      left: 1000%;
      z-index: 5;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      height: 100vh;
      padding: 68px 20px 20px;
      background-color: $MAIN_BG_COLOR;
      overflow: auto;
      transition: 0.5s all ease-out;
   }

   .nav__li {
      margin-right: 0 !important;
   }

   .nav__li--mobile {
      display: block;
   }

   .nav__link {
      display: block;
      padding: 32px 0;
      border-bottom: 1px solid $INPUT_BORDER_COLOR;
      font-size: 20px;
      line-height: 24px;
      color: $MAIN_BLUE_COLOR !important;

      &::after {
         display: none;
      }
   }

   .nav__menu, .nav__close {
      display: flex;
   }

   .section {
      padding-top: 40px;
   }

   .section__main {
      padding-top: 30px;
   }

   .card {
      height: 210px;
   }

   .card__heading {
      font-size: 16px;
      line-height: 19px;
   }

   .freelancer__info {
      padding: 15px;
   }

   .freelancer__name {
      font-size: 20px;
      line-height: 24px;
   }

   .freelancer__level {
      font-size: 12px;
      line-height: 14px;
   }

   .sponsors__card {
      height: 208px;

      img {
         width: 90px;
      }
   }

   .statistics {
      padding-bottom: 60px;
   }

   .statistics__value {
      font-size: 28px;
      line-height: 33px;
   }

   .statistics__title {
      font-size: 20px;
      line-height: 23px;
   }

   .footer__inner {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

@include media-max(1000px) {
   .statistics {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
   }
}

@include media-max(850px) {
   .statistics {
      grid-gap: 10px;
   }
}

@include media-max(850px) {
   .statistics {
      grid-template-columns: 1fr;
   }
}