@import "variables";

.statistics {
   display: grid;
   padding-bottom: 80px;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 24px;
}

.statistics__card {
   position: relative;
   padding: 20px;
   background: $WHITE_COLOR;
   box-shadow: 0 14px 45px -10px rgba(32, 68, 160, 0.16);
}

.statistics__value {
   display: block;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 32px;
   line-height: 38px;
   color: $MAIN_BLUE_COLOR;
}

.statistics__title {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: $SECONDARY_TEXT_COLOR;
}

.statistics__icon {
   position: absolute;
   top: 28px;
   right: 20px;
}