$MAIN_BLUE_COLOR: #3366FF;
$MAIN_BG_COLOR: #F2F5FF;
$SECONDARY_TEXT_COLOR: #A0A5B1;
$DARK_GREY_COLOR: #656565;
$LABEL_TEXT_COLOR: #646975;
$WHITE_COLOR: #FFFFFF;
$DISABLE_BUTTON_COLOR: #C6CAD3;
$BLACK_COLOR: #000000;