$MAIN_BLUE_COLOR: #3366FF;
$SECTION_HEADING_COLOR: #2044A0;
$MAIN_BG_COLOR: #F2F5FF;
$SECONDARY_TEXT_COLOR: #A0A5B1;
$DARK_GREY_COLOR: #656565;
$LABEL_TEXT_COLOR: #646975;
$WHITE_COLOR: #FFFFFF;
$DISABLE_BUTTON_COLOR: #C6CAD3;
$BLACK_COLOR: #000000;
$INPUT_BORDER_COLOR: #C6D4FF;
$INPUT_TEXT_COLOR: #898E9C;
$INVALID_COLOR: #FF3232;
$VALID_COLOR: #17DC42;
$SIDEBAR_BORDER_COLOR: #C4C4C4;
$SELECT_TEXT_COLOR: #122860;