<!--Full name-->
<div class="modal d-none" data-full-name-edit-modal>
    <div class="modal__content">
        <div class="modal__inner">
            <h2 class="modal__heading">Ism, familiya</h2>
            <form class="modal__form">
                <div class="modal__field">
                    <label class="modal__label label">
                        <span class="d-none">Ism</span>
                        <input class="modal__input input" type="text" placeholder="Ism" data-input-fname>
                    </label>
                    <label class="modal__label label">
                        <span class="d-none">Familiya</span>
                        <input class="modal__input input" type="text" placeholder="Familiya" data-input-lname>
                    </label>
                </div>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--Phone-->
<div class="modal d-none" data-phone-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Telefon raqam</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">Raqam</span>
                    <input class="modal__input input" type="tel" id="phone" data-input-phone>
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--Email-->
<div class="modal d-none" data-email-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Elektron pochta</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">Email</span>
                    <input class="modal__input input" type="text" data-input-email placeholder="Email">
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<div class="modal d-none" data-email-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Elektron pochta</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">Email</span>
                    <input class="modal__input input" type="text" data-input-email placeholder="Email">
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<div class="modal d-none" data-website-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Veb sayt</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">URL manzil</span>
                    <input class="modal__input input" type="text" data-website-link-input placeholder="URL">
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<div class="modal d-none" data-git-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Github yoki Gitlab</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">URL manzil</span>
                    <input class="modal__input input" type="text" placeholder="URL">
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--Telegram-->
<div class="modal d-none" data-telegram-edit-modal>
    <div class="modal__content modal__content--small">
        <div class="modal__inner">
            <h2 class="modal__heading">Telegram username</h2>
            <form class="modal__form">
                <label class="modal__label label">
                    <span class="d-none">Raqam</span>
                    <input class="modal__input input" type="text" data-input-telegram placeholder="@username">
                </label>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                    <button class="button button-blue" type="submit">Yangilash</button>
                </div>
            </form>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--Bio-->
<div class="modal d-none" data-bio-edit-modal>
    <div class="modal__content">
        <h2 class="modal__heading">O'zingiz haqingizda</h2>
        <form class="modal__form">
            <textarea class="textarea modal__textarea" id="textarea" placeholder="O'zingiz haqingizda ma'lumot kiriting"></textarea>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Yangilash</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--Portfolio-->
<div class="modal d-none" data-portfolio-add-modal>
    <div class="modal__content">
        <h2 class="modal__heading">Portfolio</h2>
        <form class="modal__form">
            <label class="label valid after-none">
                <span class="text">Loyihani tasvirlovchi rasm(.png yoki .jpg formatda, hajmi 1Mb gacha bo'lgan bitta rasm)</span>
                <span class="button button-outline" type="button">Rasm qo'shish</span>
                <input class="d-none" type="file" data-portfolio-img-input accept=".png, .jpg">
            </label>
            <div class="modal__preview"></div>
            <div class="modal__field">
                <label class="label">
                    <span class="text">Loyiha nomi</span>
                    <input class="input modal__input" type="text" placeholder="Loyiha nomi" data-input-project-name>
                </label>
                <label class="label">
                    <span class="text">Loyiha uchun havola</span>
                    <input class="input modal__input" type="url" placeholder="Loyiha nomi" data-input-portfolio-link>
                </label>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Qo'shish</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--ish joyi modali-->
<div class="modal d-none" data-work-add-modal>
    <div class="modal__content">
        <h2 class="modal__heading">Ishlagan joylaringiz</h2>
        <form class="modal__form">
            <div class="modal__field">
                <label class="label">
                    <span class="text">Ishlagan joyingiz nomi</span>
                    <input class="input modal__input" type="text" placeholder="Ishlagan joyingiz nomi" data-input-work-place>
                </label>
                <label class="label">
                    <span class="text">Kim bo'lib ishlagansiz?</span>
                    <input class="input modal__input" type="text" placeholder="Kim bo'lib ishlagansiz?" data-input-work-job>
                </label>
            </div>
            <div class="modal__field modal__field__4">
                <label class="label after-none">
                    <span class="text">Ish boshlangan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-work-start-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-work-start-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Ish tugagan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-work-end-year></div>
                        <ul class="select__list d-none" data-work-end-year-list>
                            <li class="select__item">hozirgacha</li>
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none" data-work-end-month-label>
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-work-end-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
            </div>
            <label class="modal__label label after-none valid">
                <span class="text">Ishlagan joyingiz haqida yozing</span>
                <textarea class="textarea modal__textarea" id="textarea" placeholder="Ishlagan joyingiz haqida yozing" data-work-about></textarea>
            </label>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Qo'shish</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--o'qish joyi modali-->
<div class="modal d-none" data-education-add-modal>
    <div class="modal__content">
        <h2 class="modal__heading">Ta'lim</h2>
        <form class="modal__form">
            <div class="modal__field">
                <label class="label">
                    <span class="text">O'qigan joyingiz nomi</span>
                    <input class="input modal__input" type="text" placeholder="O'qigan joyingiz nomi" data-input-edu-place>
                </label>
                <label class="label">
                    <span class="text">Qaysi yo'nalish bo'yicha o'qigansiz?</span>
                    <input class="input modal__input" type="text" placeholder="Yo'nalish nomi" data-input-edu-type>
                </label>
            </div>
            <div class="modal__field modal__field__4">
                <label class="label after-none">
                    <span class="text">O'qish boshlangan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-edu-start-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-edu-start-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">O'qish tugagan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-edu-end-year></div>
                        <ul class="select__list d-none" data-edu-end-year-list>
                            <li class="select__item">hozirgacha</li>
                            <% for (let i = 1990; i < new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none" data-edu-end-month-label>
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-edu-end-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
            </div>
            <label class="modal__label label valid after-none">
                <span class="text">O'qigan joyingiz haqida yozing</span>
                <textarea class="textarea modal__textarea" id="textarea" placeholder="O'qigan joyingiz haqida yozing" data-edu-about></textarea>
            </label>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Qo'shish</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--til qo'shish modali-->
<div class="modal d-none" data-language-add-modal>
    <div class="modal__content">
        <h2 class="modal__heading">Biladigan tillaringiz</h2>
        <form class="modal__form">
            <div class="modal__field">
                <label class="label after-none">
                    <span class="text">Tilni tanlang</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-language-name></div>
                        <ul class="select__list d-none">
                            <li class="select__item">Ingliz tili</li>
                            <li class="select__item">Rus tili</li>
                            <li class="select__item">Koreys tili</li>
                            <li class="select__item">Xitoy tili</li>
                            <li class="select__item">Arab tili</li>
                            <li class="select__item">Yapon tili</li>
                            <li class="select__item">Nemis tili</li>
                            <li class="select__item">Fransuz tili</li>
                            <li class="select__item">Tojik tili</li>
                            <li class="select__item">Turk tili</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Shu tilni bilish darajangiz</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-language-degree></div>
                        <ul class="select__list d-none">
                            <li class="select__item">Boshlang'ich</li>
                            <li class="select__item">O'rta</li>
                            <li class="select__item">Yuqori</li>
                        </ul>
                    </div>
                </label>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Qo'shish</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--skills joyi modali-->
<div class="modal d-none" data-skill-add-modal>
    <div class="modal__content">
        <h2 class="modal__heading">Ko'nikmalaringiz</h2>
        <form class="modal__form">
            <div class="modal__field">
                <div class="skills__add">
                    <input class="input modal__input" data-skill-input type="text" placeholder="Ko'nikma nomini kiriting">
                    <ul class="skills__hints"></ul>
                </div>
                <ul class="skills__list">
                </ul>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" type="submit">Yangilash</button>
            </div>
        </form>
        <button class="modal__close" data-modal-close>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>