<nav class="nav">
    <div class="container">
        <a href="/">
            <img src="/img/logos/<%= logo ? 'logo-white.svg' : 'logo.svg' %>" alt="site logo">
        </a>
        <ul>

        </ul>
    </div>
</nav>