<%- include('parts/header') %>

<section class="info-page">
    <h1 class="heading-404">404</h1>
    <div class="text-404">
        <img src="/img/icons/404-icon.svg" alt="404 icon">
        <p>Afsuski, siz so'ragan sahifa topilmadi!</p>
        <a href="/">Orqaga qaytish</a>
    </div>
</section>

<section class="info-page">
    <img class="info-page__email-icon" src="/img/icons/mail.svg" alt="email icon">
    <p class="info-page__email-text">Elektron pochtangizni tasdiqlash uchun xabar jo'natildi. Emailingizni tekshiring!</p>
</section>


<%- include('parts/footer') %>