<%- include('parts/header') %>

<header class="header header-contact">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Biz haqimizda</span>
            <br>
            <span>ma'lumot</span>
        </h1>
    </div>
</header>

<main class="main main--about">
    <section class="about-text">
        <div class="container">
            <p class="mb-20">Rizqim.uz ish va ish beruvchini uchrashtiruvchi milliy platforma.</p>
            <p class="mb-20">Hozirgi kunda yurtimizda IT sohasiga bo'lgan e'tibor ancha kuchaygan. Ayniqsa koronavirus karantinidan
            keyin bu ancha sezildi. Dasturlashga qiziquvchilar va uni o'rganishni boshlaganlar soni ortdi. IT ning turli yo'nalishlari
                bo'yicha o'qitadigan o'quv markazlar soni ortdi. IT bozorida mutaxassislarning soni ham mos ravishda ortdi.
            </p>
            <p>
                IT firmalar o'ziga ishchi qidirishda mutaxasisning tajribasi katta bo'lishiga va real loyihalarda ishlaganligiga alohida e'tibor qaratishadi.
                Endi kursni bitirgan odamda bu ko'nikmalar bo'lmasligi tabiiy va ular ishga kirishda qiyinchilikka duch kelishadi. Bizning platforma
                shu muammoga yechim topish uchun ishlab chiqilgan. Bizda ish beruvchi o'z e'lonini joylaydi. Frilanserlar shu ishga yozilishlari mumkin bo'ladi.
                Kimning ishi sifatli chiqsa uning ishi qabul qilinadi va bu ish frilanserning portfoliosiga qo'shiladi.
            </p>
        </div>
    </section>
    <section class="founders">
        <div class="container">
            <h2 class="founders__heading">Platforma asoschilari</h2>
            <div class="founders__list">
                <div class="founders__card founders__card--ogabek">
                    <a class="founder__name" href="#">
                        Og'abek Sultonbayev
                    </a>
                </div>
                <div class="founders__card founders__card--mehriban">
                    <a class="founder__name" href="#">
                        Shukirillayeva Mehriban
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>